body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #111;
    }

    /* Navbar container */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to bottom, #333, #000);
      padding: 10px 40px;
    }

    /* Logo */
    .logo {
      font-size: 28px;
      font-weight: bold;
      color: #483D8B;
      font-family: "Arial Black", sans-serif;
      position: relative;
    }

    .logo span {
      color: #4169E1;
    }

    .logo::after {
      content: "";
      display: block;
      height: 6px;
      width: 100%;
      background: red;
      margin-top: 5px;
    }

    /* Nav links */
    .nav-links {
      display: flex;
      gap: 30px;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      transition: 0.3s;
    }

    .nav-links a:hover {
      color: #4169E1;
    }

    /* Active link */
    .nav-links a.active {
      color: #4169E1;
      font-weight: bold;
    }
    