* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #222, #000);
  padding: 15px 40px;
}

.logo {
  font-family: 'Orbitron', sans-serif; 
  font-size: 32px;
  color: #6957ff; 
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #f00, #6957ff); 
}

.nav-bar a {
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-bar a:hover {
  color: #4f89ff;
}

.nav-bar a.active {
  color: #4f89ff;
}

.image{
    height: 520px;
    width: 100%;
    background-image: url(./Jal-Mahal-Jaipur-123rf-2-1366x768.webp);
    background-position: center;
    background-size: cover;
    background-color: black;
}

.tour{
    
    /* height: 600px;  */
    width: 100%;
    padding: 50px;
    background-color: #fff;
} 
.btn{
  padding-left: 380px;
}
.card{
  display: flex;
  gap: 30px;

}
.card1{
  /* height: 590px; */
  width: 40%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  
}
.card2{
  /* height: 590px; */
  width: 40%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.card3{
   /* height: 590px; */
  width: 40%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.image1{
  background-image: url(./9F895655-09CF-440C-AD2E-D0CD4F8542B0.avif);
  background-position: center; 
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.image1{
  background-image: url(./9F895655-09CF-440C-AD2E-D0CD4F8542B0.avif);
  background-position: center; 
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.image2{
  background-image: url(./download.jpeg);
  background-position: center; 
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.image3{
  background-image: url(./one-day-manali-top-places-to-visit-header-manali-tourism.jpg.jpg);
  background-position: center; 
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.location1{
  display: flex;
}
.btn1{
  padding-left: 15px;
}
.location2{
  display: flex;
}
.btn2{
  padding-left: 15px;
}
.location3{
  display: flex;
}
.btn3{
  height: 40px;
  padding-left: 15px;
}
.design{
  display: flex;
  gap: 30px;
  margin-left: 50px;
}
.design1{
   height: 550px;
  width: 30%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.design2{
  height: 550px;
  width: 30%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.design3{
   height: 550px;
  width: 30%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.picture1{
  background-image: url(./58490365.avif);
  background-position: center;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.picture2{
  background-image: url(./1_afyocx.webp);
  background-position: center; 
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.picture3{
  background-image: url(./radisson-blu-resort-dharamshal.jpg);
  background-position: center; 
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.located1{
  display: flex;
}
.btno1{
  padding-left: 15px;
}
.located2{
  display: flex;
}
.btno2{
  padding-left: 15px;
}
.located3{
  display: flex;
}
.btno3{
  padding-left: 15px;
}
.popular{
  margin-top: -70px;
}
.main{
  display: flex;
  gap: 30px;
  margin-left: 50PX;
  margin-top: -50px;
}
.main1{
   /* height: 370px; */
  width: 40%;
  border: 2px solid #666;
  border-radius: 10px;
}
.main2{
  /* height: 370px; */
  width: 40%;
  border: 2px solid #666;
  border-radius: 10px;
}
.main3{
 /* height: 370px; */
  width: 40%;
  border: 2px solid #666;
  border-radius: 10px;
}
.img1{
  background-image: url(./images\ \(1\).jpeg);
  background-position: center;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.img2{
   background-image: url(./Japan-2107x1406.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.img3{
   background-image: url(./koreaguide1.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.loc1{
  display: flex;
}
.loc2{
  display: flex;
}
.loc3{
  display: flex;
}
.dream{
  display: flex;
  gap: 20px;
  height: 575px;
  margin-top: 50px;
  margin-left: 100px;
}

.dream1{
width: 57%;
}
.dream1 h4 {
  /* color: blue; */
}
.dream1 h1{
  color: blue;
  line-height: 1;
}
.dream h4{
  font-size: 19px;
}

.dream1 button{
  border: none;
  background-color: blue;
  color: white;
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}
.boot{
  background-color: blue;
  color: white;
  height: 38px;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 25px;
  
}
/* .cardd{

  border-radius: 20px;
  height: 680px;
  width: 50%;
  background-position: center;
  background-size: cover;
  
} */
.next{
background-color: blue;
color: white;
height: 50px;
width: 50%;
text-align: center;
border-radius: 13px;
font-size: 28px;
margin-left: 300px;
}
.heading{
  text-align: center;
  font-size: 20px;
}
h5{
  font-size: 30px;
}
.tourist{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 20px;
}
.tourist1{
  height: 320px;
  width: 287px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
}
.tourist2{
   height: 320px;
  width: 287px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
}
.tourist3{
   height: 320px;
  width: 287px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
}
.tourist4{
   height: 320px;
  width: 287px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
}
.t1{
  height: 216px;
  width: 200px;
  border: 2px solid whitesmoke;
  border-radius:20px ;
  margin: 20px 36px;
  background-image: url(./mathura.jpg);
  background-position: center;
  background-size: cover;
}
.t2{
    height: 216px;
  width: 200px;
  border: 2px solid whitesmoke;
  border-radius:20px ;
  margin: 20px 36px;
  background-image: url(./Hill-stations-in-Uttarakhand-1600x900.webp);
  background-position: center;
  background-size: cover;
}
.t3{
height: 216px;
  width: 200px;
  border: 2px solid whitesmoke;
  border-radius:20px ;
  margin: 20px 36px;
  background-image: url(./jpg.avif);
  background-position: center;
  background-size: cover;
}
.t4{
   height: 216px;
  width: 200px;
  border: 2px solid black;
  border-radius:20px ;
  margin: 20px 36px;
  background-image: url(./best.jpeg);
  background-position: center;
  background-size: cover;
}
.b1{
  background-color:blue;
  color: white;
  height: 28px;
  width: 25%;
  margin-left: 86px;
  margin-top: -33px;
  text-align: center;
}
.b2{
   background-color:blue;
  color: white;
  height: 28px;
  width: 25%;
  margin-left: 86px;
  margin-top: -33px;
  text-align: center;
}
.b3{
   background-color:blue;
  color: white;
  height: 28px;
  width: 25%;
  margin-left: 86px;
  margin-top: -33px;
  text-align: center;
}
.b4{
   background-color:blue;
  color: white;
  height: 28px;
  width: 25%;
  margin-left: 86px;
  margin-top: -33px;
  text-align: center;
}
.p1{
  text-align: center;
}
h6{
  font-size: 20px;
}
.gif{
  background-image: url(https://images.squarespace-cdn.com/content/v1/53a05cdee4b0c1bc44841a7b/1523918458259-0AY7O6SCPK0SL3UPUB4Z/25+cinemagraphs+from+around+the+world);
  background-position: center;
  background-size: cover;
  height: 500px;
}
.clients {
  height: 40px;
  width: 50%;
  border: 2px solid blue;
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: 300px;
}
.clients1{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.clients2{
  text-align: center;
  font-size: 20PX;
}
.video{
  margin-left: 700px;
}



/*footer///////////////////////////////////////////////////////////////////////////////////  */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #fff;
    }

    footer {
      background: #150021;
      color: #fff;
      padding: 60px 80px 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    /* ===== Left Side ===== */
    .footer-left {
      max-width: 320px;
    }

    .footer-left img {
      width: 150px;
      margin-bottom: 20px;
    }

    .subscribe {
      display: flex;
      margin-bottom: 25px;
    }

    .subscribe input {
      padding: 12px;
      flex: 1;
      border: none;
      outline: none;
      border-radius: 8px 0 0 8px;
      font-size: 15px;
    }

    .subscribe button {
      background: linear-gradient(90deg, #6f00ff, #b400ff);
      border: none;
      color: #fff;
      padding: 0 20px;
      border-radius: 0 8px 8px 0;
      cursor: pointer;
      font-size: 18px;
    }

    .social-icons {
      display: flex;
      gap: 15px;
    }

    .social-icons a {
      width: 45px;
      height: 45px;
      background: #2c2c2c;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      text-decoration: none;
      transition: 0.3s;
    }

    .social-icons a:hover {
      background: #6f00ff;
    }

    /* ===== Quick Links ===== */
    .footer-links {
      min-width: 180px;
    }

    .footer-links h3 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .footer-links ul {
      list-style: none;
      padding: 0;
    }

    .footer-links ul li {
      margin-bottom: 12px;
    }

    .footer-links ul li a {
      text-decoration: none;
      color: #bbb;
      font-size: 15px;
      transition: 0.3s;
    }

    .footer-links ul li a:hover {
      color: #fff;
    }

    /* ===== Info ===== */
    .footer-info {
      max-width: 280px;
    }

    .footer-info h3 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .footer-info p {
      margin: 12px 0;
      display: flex;
      align-items: center;
      color: #bbb;
      font-size: 15px;
    }

    .footer-info p i {
      margin-right: 12px;
      color: #6f00ff;
      font-size: 18px;
    }

    /* ===== Bottom ===== */
    .footer-bottom {
      background: #0d0015;
      text-align: center;
      padding: 15px;
      font-size: 14px;
      color: #bbb;
    }

    /* ===== Responsive ===== */
    @media (max-width: 768px) {
      footer {
        flex-direction: column;
        gap: 40px;
      }
    }
 




/* footer/////////////////////////////////////////////////////////////////////////////// */




/* ABOUT */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #222, #000);
  padding: 20px 40px;
}

.logo {
  font-family: 'Orbitron', sans-serif; 
  font-size: 32px;
  color: #6957ff; 
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #f00, #6957ff); /* Red and purple underline */
}


.nav-bar a {
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-bar a:hover {
  color: #4f89ff;
}

.nav-bar a.active {
  color: #4f89ff;
}
.demo{
    height: 520px;
    width: 100%;
    background-image: url(./beautiful-beach-free-image-after-sunset-sky-free-photo.webp);
    background-position: center;
    background-size: cover;
    background-color: black;
}

h3{
  text-align: center;
  font-size: 30px;
  padding-top:10PX ;
  color: white;
}


body {

  background: #fff;
  color: #333;
  line-height: 1.6;
}

.travel-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.image-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  flex: 1;
  max-width: 400px;
}

.travel-img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.content-section {
  flex: 1.2;
  max-width: 600px;
}



.tagline {
  color: #6d28d9;
  font-weight: 600;
  font-size: 20px;
}
.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 50px;
  margin-top: 20px;
}

.bt {
  background-color: #7c3aed;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  
}

.bt:hover {
  background-color: #5b21b6;
}


.section {
  padding: 60px 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.subheading {
  color: #7e22ce;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.deco{
  font-size: 17px;
  color: #666;
  max-width: 600px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: left;
  transition: transform 0.2s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 36px;
  background-color: #f3e8ff;
  color: #7e22ce;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #555;
}


  .features {
    flex-direction: row;
    justify-content: center;
  }

  .feature-card {
    width: 30%;
  }

/* about////////////////////////////////////////////////////////////// */


/* new educational tour */





















/* contact */
.contact{
    height: 500px;
    width: 100%;
    background-image: url(./hyyy.webp);
    background-position: center;
    background-size: cover;
    background-color: black;
}
/* .contact1{
  display: flex;
  gap: 50%;
}
.contact2{
  height: 500px;
  width: 30%;
  border-radius: 20px;
  border: 2px solid #666;
  margin-left: 30px;
  margin-top: 110px;
}
.contact2 h2{
  padding-left: 40px;
  padding-top: 20px;
  font-weight: bold; color: black;
  font-size: 30px;
}
.contact2 P{
  font-size: 20px;
  padding-left: 40px;
}
/* connect */
.connect{
  height: 500px;
  width: 50%;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f8f9fa;
   /* padding: 30px;  */
}

.container {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.echo, .contact-form {
  flex: 1 1 400px;
}

.contact echo h2,
.contact-form h2 {
  margin-bottom: 20px;
  color: #111;
}

.echo p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.echo a {
  color: #1e90ff;
  text-decoration: none;
}

form .form1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s ease;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: #7b2ff7;
  box-shadow: 0 0 5px rgba(123, 47, 247, 0.3);
}

form textarea {
  resize: none;
  margin-bottom: 20px;
}

form button {
  background-color: #7b2ff7;
  color: #fff;
  border: none;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #5e22c2;
}




